p {
text-align: left;
text-justify: distribute-all-lines;
font-size: 20px;
color: rgb(27, 3, 49);
text-shadow: 2px;
}
.video {
    width: 1850px;
    height: 790px;
    margin: 0px 0px;
    border-style: solid;
    background-color: black;
    padding: 20px 20px 20px 20px;
    
}

h2{
    text-decoration: none;
    font-size: 30px;
    text-align: left;
    font-style: none;
    color: rgb(0, 0, 0);
    margin: 0px 0px 10px 0px;
    border-style: solid;
    padding: 10px 10px 10px 810px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

span {
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}